# This file contain the server options
# Rename this file client.properties and
# uncomment the values that you want to overload. The commented values are the default ones.

# TODO RMI listen port (dont'use yet)
#rmi.port=1199

# Définit la classe à l'accès distant. RemoteAccessMock simule les communications SSH
# alors que RemoteAccessJschImpl les réalisent.

#remote.access.class=com.sysfera.godiet.core.remote.ssh.RemoteAccessJschImpl
#remote.access.class=com.sysfera.godiet.core.remote.RemoteAccessMock
